/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppines", sans-serif;
}

.container {
    max-width: 80%;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
}

ul {
    list-style-type: none;
}

button {
    border-radius: 5px;
    padding: 15px 30px;
    background: #27ae60;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

button i {
    margin-right: 5px;
}

.heading {
    text-align: center;
    width: 70%;
    margin: auto;
}

.heading h1 {
    color: #2d3954;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 35px;
}

.heading p {
    color: #72809d;
    margin-top: 15px;
}

textarea,
input {
    border: none;
    outline: none;
    background: none;
}

.background {
    padding: 80px 0;
    position: relative;
    background: #f7f9fc;
}
  
.grid5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
}

label {
    color: #2d3954;
    font-size: 14px;
}

.mtop {
    margin-top: 50px;
}

h4 {
    font-weight: 500;
}

.shadow {
    box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
  }
  .padding {
    padding: 80px 0;
  }
  .grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .btn2 {
    border-radius: 50px;
    font-size: 20px;
  }

.grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}





